@media screen and (max-width: 1100px) {
    
}

@media screen and (max-width: 900px) {
    .col-md {
        flex-basis: calc((100% / 4) - 1rem);
    }

    .bar-md {
        max-width: 400px;
    }
}


@media screen and (max-width: 768px) {
    .col-sm {
        flex-basis: calc((100% / 2) - 1rem);
    }

    .played-song {
        flex-shrink: 1;
    }

    .played-song-icon {
        flex-direction: column;
        gap: .5rem;
        margin-left: .5rem;
    }

    .played-song-album {
        flex-shrink: 0;
    }

    .bar-sm {
        max-width: 300px;
    }

    .volume-box {
        max-width: 150px;
    }
}

@media screen and (max-width: 600px) {
    

    .played-song {
        gap: 0.5rem;
    }

    .played-song-album {
        width: 40px;
    }
}


@media screen and (max-width: 500px) {
    .col-sm {
        flex-basis: calc((100% / 2) - 1rem);
    }

    .display-none {
        display: none;
    }

    .sidebar-mobile {
        display: flex;
    }

    .played-song {
        flex-shrink: 1;
    }

    .played-song-icon {
        flex-direction: column;
        gap: .5rem;
        margin-left: .5rem;
    }

    .played-song-album {
        width: 30px;
    }
    
    .play-bar {
        margin: 0rem .5rem;
    }

}

@media screen and (max-width: 450px) {
    .volume-items {
        flex-direction: column;
    }

    .played-song-name {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .col-sm {
        flex-basis: 100%;
    }

    .display-none {
        display: none;
    }

    .sidebar-mobile {
        display: flex;
    }

}