/* sezione principale a 4 colonne per riga */
@media screen and (max-width: 1100px) {
    .col-md {
        flex-basis: calc(100% / 4 - ((1rem / 4) * 3));
    }

    .bar-md {
        max-width: 400px;
    }
}


/* sezione principale a 2 colonne per riga  */
@media screen and (max-width: 700px) {
    .col-sm {
        flex-basis: calc((100% / 2) - 1rem);
    }

    .played-song {
        flex-shrink: 1;
    }

    .played-song-icon {
        flex-direction: column;
        gap: .5rem;
        margin-left: .5rem;
    }

    .played-song-album {
        flex-shrink: 0;
    }

    .bar-sm {
        max-width: 300px;
    }

    .volume-box {
        max-width: 150px;
    }
}


/* layout sidebar laterale xs */
@media screen and (max-width: 600px) {
    .col-sm {
        flex-basis: calc((100% / 2) - 1rem);
    }

    .display-none {
        display: none;
    }

    .sidebar-mobile {
        display: flex;
    }

    .played-song {
        gap: 0.5rem;
        flex-shrink: 1;
    }

    .played-song-icon {
        flex-direction: column;
        gap: .5rem;
        margin-left: .5rem;
    }

    .played-song-album {
        width: 30px;
    }
    
    .play-bar {
        margin: 0rem .5rem;
    }
}


/* si restringono contentuti barra player */
@media screen and (max-width: 450px) {
    .volume-box {
        width: 50px;
    }

    .volume-items {
        flex-direction: column;
    }

    .volume-bar {
        display: none;
    }

    .played-song-name {
        display: none;
    }
}


/* sezione principlae ad 1 colonna per riga, scompare il testo artista
in riproduzione nella barrra player */
@media screen and (max-width: 350px) {
    .col-sm {
        flex-basis: 100%;
    }

    .display-none {
        display: none;
    }

    .sidebar-mobile {
        display: flex;
    }

}



/*far sparire la barra call-to-action */
@media screen and (max-height: 250px) {
    .upgrade-bar {
        display: none;
    }
}