@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}




.main-container {
    height: 100vh;
}

.player-container {
    flex-shrink: 0;
    padding: 2rem 0rem;
}


/* ++++++DEBUG++++++ */
.debug {
    border: 1px dashed blue;
}

.debug-content {
    padding: 2rem;
    border: 1px dashed red;
}
/* ++++++DEBUG++++++ */



.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
    overflow: hidden;
}

.flex-shrink {
    flex-shrink: 1;
}

.align-stretch {
    align-items: stretch;
}

.flex-column {
    flex-direction: column;
}

.overflow-auto {
    overflow: auto;
}



.sidebar {
    width: 200px;
    flex-direction: column;
}

.upgrade-bar {
    padding: 2rem 0rem;
}

.link-menu {
    display: inline-block;
}