@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: white;
}

:root {
    --bg-color-primary: #141922;
    --bg-color-secondary: #000000;
    --bg-color-tertiary: #282828;
    --bg-color-quartiary: #080b12;
    --bg-color-quintiary: #808080;

    --padding-left-sm: 1rem;
}



/* ++++++DEBUG++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.debug {
    border: 1px dashed blue;
}

.debug-content {
    padding: 1rem;
    border: 1px dashed red;
}
/* ++++++DEBUG++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.main-container {
    height: 100vh;
}

.player-container {
    height: 80px;
    flex-shrink: 0;
    padding: .5rem 0rem;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
    overflow: hidden;
}

.flex-shrink {
    flex-shrink: 1;
}

.align-stretch {
    align-items: stretch;
}

.flex-column {
    flex-direction: column;
}

.overflow-auto {
    overflow: auto;
}

.row {
    flex-wrap: wrap;
    gap: 1rem;
}

.col {
    flex-basis: calc((100% / 6) - 1rem);
}


.cards {
    height: 100%;
}

.section-cards {
    padding: 1rem;
}


.sidebar {
    width: 250px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 1rem;
}

.upgrade-bar {
    padding: 1rem .5rem;
    justify-content: flex-end;
    background-color: var(--bg-color-quartiary);
}

.link-menu {
    display: inline-block;
    padding: 1rem;
    font-size: .7rem;
}

.main-menu {
    padding-bottom: 1rem;
}

ul li {
    list-style-type: none;
    padding: .5rem 0rem;
}

li a, a {
    text-decoration: none;
    color: var(--bg-color-quintiary);
    vertical-align: middle;
}

.download {
    border-bottom: 1px solid var(--bg-color-quintiary);
    margin-bottom: 1rem;
    padding: 1rem 0rem;
}

.user {
    align-items: center;
    gap: 1rem;
}

.played-song {
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.played-song-name {
    flex-direction: column;
    
}

.bar {
    max-width: 500px;
    width: 100%;
}

.play-bar {
    width: 100%;
    height: 4px;
    background-color: #585555;
    border-radius: 20px;
}

.marign-left-right {
    margin: 0rem 1.5rem;
}

.song-bar {
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.play-time {
    width: 30%;
    height: 100%;
    background-color: var(--bg-color-quintiary);
}

.volume-box {
    max-width: 200px;
    width: 100%;
}

.volume-items {
    gap: .5rem;
}

.volume-bar {
    width: 100%;
    padding: 0rem .5rem;
}

.volume-items, .volume-bar {
    justify-content: center;
    align-items: center;
}

.white-color {
    color: var(--bg-color-quintiary);
}





/*immagini, bottoni e icone ++++++++++++++++++++++++++++++++++++++++++*/
.btn {
    color: white;
    background-color: transparent;
    padding: 1rem 3rem;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    font-weight: bold;
    font-size: .7rem;
}

.logo {
    width: 150px;
    padding: .5rem 0rem;
}

.box-img {
    aspect-ratio: 1/1;
    margin-bottom: 1rem;
}

.album-img {
    width: 100%;
}

.played-song-album {
    width: 50px;
}

/* .round-box {
    border-radius: 50%;
    background-color: red;
    
} */

.menu-icons {
    width: 30px;
    vertical-align: middle;
    fill: var(--bg-color-quintiary);
}

.fa-square-plus {
    font-size: 40px;
    vertical-align: middle;
    margin-right: .5rem;
}

.small-icon {
    width: 20px;
    vertical-align: bottom;
}

.xs-icon {
    width: 15px;
    color: white);
}

.played-song-icon {
    flex-direction: row;
    gap: 1rem;
    margin-left: 1rem;
}

.play-bar-icon {
    width: 15px;
    color: white;
}

.play-icons {
    display: inline-block;
    padding: 0rem 1rem;
}

.play-box {
    border: 3px solid white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.user-avatar {
    background-color: var(--bg-color-quintiary);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* testi +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
h2 {
    margin-bottom: .5rem;
}

h4, h3 {
    margin-bottom: .5rem;
    font-size: .9rem;
}

.subtitle {
    margin-bottom: 1.5rem;
}

.song-name, .subtitle {
    font-size: .8rem;
    color: var(--bg-color-quintiary);
}

.song-time {
    font-size: .7rem;
}

.text-center {
    text-align: center;
}



/*classi per variabili della pagina ++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.bg-color-primary {
    background-color: var(--bg-color-primary);
}

.bg-color-secondary {
    background-color: var(--bg-color-secondary);
}

.bg-color-tertiary {
    background-color: var(--bg-color-tertiary);
}

.bg-color-quartiary {
    background-color: var(--bg-color-quartiary);
}

.padding-left-sm {
    padding-left: var(--padding-left-sm);
}
